.navbar {
	position: -webkit-sticky;
	position: sticky;
	background-color: #5d4037 !important;

	.nav-item {
		font-size-adjust: auto;

		.active {
			border-style: solid;
			border-bottom-width: medium;
			border-color: #4caf50;
		}
	}
}
