<div id="family" class="card">
  <div class="card-header">
    <h4 class="card-title">Meine Familie</h4>
  </div>
  <div class="card-body">
		<p>
			Nun habe ich dir schon ziemlich viel über meine Rasse und mich erzählt. Aber noch kaum etwas über meine Familie.
		</p>
		<p>
			Ich komme wie erwähnt ursprünglich aus Biebergemünd. Dort haben mich mein Herrchen und Frauchen zusammen mit ihren erwachsenen Töchtern im Juni 2016 abgeholt und mit in mein neues Zuhause genommen.
		</p>

		<p>
			Was war ich aufgeregt... aber meine Familie war so liebevoll und geduldig, dass ich mich sehr schnell wohlgefühlt habe.
		</p>
		<p>
			<a class="float-right ml-3" href="assets/img/lilly_mit_romana.jpg" data-lightbox="photos" data-title="Lilli mit Romana">
				<img src="assets/img/thumbnails/lilly_mit_romana.jpg" class="img-thumbnail">
			</a> Mein Frauchen Romana verbringt die meiste Zeit mit mir. Sie geht mit mir zum Hundesport, hält mit mir Mittagsschlaf, macht mit mir lange Spaziergänge und ich darf fast überall dabei sein. Sie ist meine engste Bezugsperson.
		</p>
		<p>
			Stefan ist mein Herrchen, er verbringt den Tagesanfang mit mir (falls ich bereit bin so früh aufzustehen und mit ihm raus zu gehen bevor er zur Arbeit geht ;-) ). Und ich liebe die Zeit, wenn er von der Arbeit nach Hause kommt. Dann teile ich ihm sofort
			mit, dass ich raus möchte. Er denkt, dass ich das mache, weil er der „Klogänger“ für mich ist. Aber eigentlich mache ich das, weil ich ihn einfach gerne mal für mich alleine habe.
		</p>
		<p>
			Außerdem gehören zu meiner Familie noch Silke und Marco. Sie wohnen zwar nicht in meinem Zuhause, aber in der gleichen Stadt. Ich freue mich immer sehr , wenn wir sie oder sie uns besuchen. Dann zählt erstmal kaum wer anders.
		</p>
		<p>
			Svenja und Kai wohnen leider nicht in der Nähe und ich kann sie nur selten sehen. Aber wenn, dann ist die Freude umso größer.

		</p>
		<p>
			Ganz besonders genieße ich es aber, wenn meine ganze Familie zusammen ist und wir z.B. zusammen Wandern oder Langlaufen gehen. Dann bin ich vollkommen zufrieden.
		</p>
  </div>
</div>
