<div class="footer">
	<div class="container-fluid align-middle">
		<ul class="nav nav-fill">
			<li class="nav-item"><a class="nav-link" href="impressum.html">Impressum</a></li>
			<li class="nav-item"><a class="nav-link" href="datenschutzerklaerung.html">Datenschutzerklärung</a></li>
			<li class="nav-item"><a class="nav-link" href="https://www.perro-club.de/">"Perro Club Deutschland" e.V</a>
			</li>
		</ul>
	</div>
</div>