{{!-- begin: litters --}}
<div class="row" id="litters">
	<div class="col">
		<h1 >Wurfplanung</h1>
		BLARBLARBLAR
		<a href="assets/img/jacco.jpg" data-lightbox="photos" data-title="Jacco">
			<img src="assets/img/thumbnails/jacco.jpg" class="img-thumbnail">
		</a>
	</div>

</div>
{{!-- end: litters --}}
