<div id="litters" class="card bg-primary">
	<div class="card-header">
		<h4 class="card-title">Wurfplanung</h4>
	</div>
	<div class="card-body bg-white">
		<p>
			Vor kurzem startete wie schon erwähnt ein neues Abenteuer in meinem Leben, von dem ich erzählen möchte.
		</p>

		<p>
			Angefangen hat alles im Sommer 2017, als ich zusammen mit meiner Familie zu verschiedenen Ausstellungen ging, um zu zeigen, wie hübsch ich aussehe und dort sehr gute Bewertungen erhalten habe. Wofür ich diese brauche, habe ich erst viel später verstanden.
		</p>
		<a href="assets/img/photos/jacco.jpg" class="float-left mr-3" data-lightbox="photos" data-title="Jacco">
			<img src="assets/img/photos/thumbnails/jacco.jpg" class="img-thumbnail">
		</a>

		<p>
			Auch zu dieser Zeit habe ich einen sehr gut aussehenden und lieben Rüden bei den Perro Spaziergängen kennengelernt. Er heißt Jacco, ist zum größten Teil schwarz, mit ein paar weißen Akzenten und ein richtiger Kavalier…
		</p>

		<p>
			Ach, was soll ich sagen - er hat mir einfach sofort gut gefallen.
		</p>

		<p>
			Dieses Jahr im April durften wir uns endlich wieder sehen und besser kennenlernen. Da war die Wiedersehensfreude groß.
		</p>

		<p>
			Gegen Pfingsten hatten meine Familie und ich die freudige Nachricht erhalten...ich war trächtig!! Natürlich waren alle sehr aufgeregt und haben sich sehr gefreut.
		</p>

		<p>
			Mittlerweile sind meine 5 Babys, ein Mädchen und 4 Jungs auf der Welt. Sie halten uns alle ganz schön auf Trab. Aber es gibt nichts Schöneres, als der Rasselbande dabei zuzusehen, wie sie wachsen, gedeihen, neugierig werden und ihre kleine Welt erkunden.
		</p>

		<p>
			Ich möchte dir meine Kleinen gerne zeigen. Darf ich vorstellen:
		</p>

		<div class="row align-items-center">
			<div class="col">
				<a class="d-block text-center" href="assets/img/photos/ava.jpg" data-lightbox="photos" data-title="Ava">
					<figure class="figure">
						<img src="assets/img/photos/thumbnails/ava.jpg" class="img-thumbnail" />
						<figcaption class="figure-caption">Ava</figcaption>
					</figure>
				</a>
			</div>
			<div class="col">
				<a class="d-block text-center" href="assets/img/photos/anton.jpg" data-lightbox="photos" data-title="Anton">
					<figure class="figure">
						<img src="assets/img/photos/thumbnails/anton.jpg" class="img-thumbnail" />
						<figcaption class="figure-caption">Anton</figcaption>
					</figure>
				</a>
			</div>
			<div class="col">
				<a class="d-block text-center" href="assets/img/photos/amaro.jpg" data-lightbox="photos" data-title="Amaro">
					<figure class="figure">
						<img src="assets/img/photos/thumbnails/amaro.jpg" class="img-thumbnail" />
						<figcaption class="figure-caption">Amaro</figcaption>
					</figure>
				</a>
			</div>
			<div class="w-100 mb-4"></div>
			<div class="col">
				<a class="d-block text-center" href="assets/img/photos/amigo.jpg" data-lightbox="photos" data-title="Amigo">
					<figure class="figure">
						<img src="assets/img/photos/thumbnails/amigo.jpg" class="img-thumbnail" />
						<figcaption class="figure-caption">Amigo</figcaption>
					</figure>
				</a>
			</div>

			<div class="col">
			</div>

			<div class="col">
				<a class="d-block text-center" href="assets/img/photos/anjo.jpg" data-lightbox="photos" data-title="Anjo">
					<figure class="figure">
						<img src="assets/img/photos/thumbnails/anjo.jpg" class="img-thumbnail" />
						<figcaption class="figure-caption">Anjo</figcaption>
					</figure>
				</a>
			</div>

		</div>
		<p>
			Wer weiß, welche Abenteuer in den nächsten Wochen noch auf mich und meine Kinder warten....und vielleicht ja auch auf dich.
		</p>
	</div>
</div>
