<div id="litters" class="card bg-primary">
	<div class="card-header">
		<h4 class="card-title">Wurfplanung</h4>
	</div>
	<div class="card-body bg-white">
		<p>
			Vor kurzem startete wie schon erwähnt ein neues Abenteuer in meinem Leben, von dem ich erzählen möchte.
		</p>

		<p>
			Angefangen hat alles im Sommer 2017, als ich zusammen mit meiner Familie zu verschiedenen Ausstellungen ging, um zu zeigen, wie hübsch ich aussehe und dort sehr gute Bewertungen erhalten habe. Wofür ich diese brauche, habe ich erst viel später verstanden.
		</p>
		<a href="assets/img/photos/jacco.jpg" class="float-left mr-3" data-lightbox="photos" data-title="Jacco">
			<img src="assets/img/photos/thumbnails/jacco.jpg" class="img-thumbnail">
		</a>

		<p>
			Auch zu dieser Zeit habe ich einen sehr gut aussehenden und lieben Rüden bei den Perro Spaziergängen kennengelernt. Er heißt Jacco, ist zum größten Teil schwarz, mit ein paar weißen Akzenten und ein richtiger Kavalier…
		</p>

		<p>
			Ach, was soll ich sagen - er hat mir einfach sofort gut gefallen.
		</p>

		<p>
			Dieses Jahr im April durften wir uns endlich wieder sehen und besser kennenlernen. Da war die Wiedersehensfreude groß.
		</p>

		<p>
			Gegen Pfingsten haben meine Familie und ich nun die freudige Nachricht erhalten …ich bin trächtig!!! Jetzt sind alle ganz aufgeregt und freuen sich sehr.
		</p>
		<p>
			Voraussichtlich Ende Juni ist es soweit. Wer weiß, welche Abenteuer dann auf mich und meine Kinder warten …und vielleicht ja auch auf dich!
		</p>
	</div>
</div>
