<div class="card" id="photos">
	<div class="card-header">
		<h4 class="card-title">Fotos</h4>
	</div>
	<div class="card-body">
		<div class="row align-items-center">
			<div class="col">
				<a class="d-block text-center" href="assets/img/photos/portrait_1.jpg" data-lightbox="photos"
					data-title="Portrait 1">
					<img src="assets/img/photos/thumbnails/portrait_1.jpg" class="img-thumbnail" />
				</a>
			</div>
			<div class="col">
				<a class="d-block text-center" href="assets/img/photos/sunny.jpg" data-lightbox="photos"
					data-title="Sunny">
					<img src="assets/img/photos/thumbnails/sunny.jpg" class="img-thumbnail" />
				</a>
			</div>
			<div class="col">
				<a class="d-block text-center" href="assets/img/photos/familie_2.jpg" data-lightbox="photos"
					data-title="Familie 2">
					<img src="assets/img/photos/thumbnails/familie_2.jpg" class="img-thumbnail" />
				</a>
			</div>
			<div class="w-100 mb-4"></div>
			<div class="col">
				<a class="d-block text-center" href="assets/img/photos/schnee_fuesse.jpg" data-lightbox="photos"
					data-title="Schneefüße">
					<img src="assets/img/photos/thumbnails/schnee_fuesse.jpg" class="img-thumbnail" />
				</a>
			</div>
			<div class="col">
				<a class="d-block text-center" href="assets/img/photos/portrait_3.jpg" data-lightbox="photos"
					data-title="Portrait 3">
					<img src="assets/img/photos/thumbnails/portrait_3.jpg" class="img-thumbnail" />
				</a>
			</div>
			<div class="col">
				<a class="d-block text-center" href="assets/img/photos/in_der_wiese.jpg" data-lightbox="photos"
					data-title="In der Wiese">
					<img src="assets/img/photos/thumbnails/in_der_wiese.jpg" class="img-thumbnail" />
				</a>
			</div>
			<div class="w-100 mb-4"></div>
			<div class="col">
				<a class="d-block text-center" href="assets/img/photos/portrait_4.jpg" data-lightbox="photos"
					data-title="Portrait 4">
					<img src="assets/img/photos/thumbnails/portrait_4.jpg" class="img-thumbnail" />
				</a>
			</div>
			<div class="col">
				<a class="d-block text-center" href="assets/img/photos/im_schnee.jpg" data-lightbox="photos"
					data-title="Im Schnee">
					<img src="assets/img/photos/thumbnails/im_schnee.jpg" class="img-thumbnail" />
				</a>
			</div>
			<div class="col">
				<a class="d-block text-center" href="assets/img/photos/kutsche.jpg" data-lightbox="photos"
					data-title="Kutsche">
					<img src="assets/img/photos/thumbnails/kutsche.jpg" class="img-thumbnail" />
				</a>
			</div>
			<div class="w-100 mb-4"></div>
			<div class="col">
				<a class="d-block text-center" href="assets/img/photos/slurp.jpg" data-lightbox="photos"
					data-title="SCHLECK">
					<img src="assets/img/photos/thumbnails/slurp.jpg" class="img-thumbnail" />
				</a>
			</div>
			<div class="col">
				<a class="d-block text-center" href="assets/img/photos/wandern_1.jpg" data-lightbox="photos"
					data-title="Wandern">
					<img src="assets/img/photos/thumbnails/wandern_1.jpg" class="img-thumbnail" />
				</a>
			</div>
		</div>
	</div>
</div>