<div class="card" id="photos">
	<div class="card-header">
		<h4 class="card-title">Fotos</h4>
	</div>
	<div class="card-body row">
			<div class="col-4">

			</div>

			<div class="col-4">

			</div>

			<div <div class="col-4">
				<a href="assets/img/DSC_0378.jpg" data-lightbox="photos" data-title="My caption 3">
					<img src="assets/img/DSC_0378.jpg" class="img-thumbnail">
				</a>
			</div>
	</div>
</div>
