<div class="card" id="race">
	<div class="card-header">
		<h4 class="card-title">Rasse</h4>
	</div>
	<div class="card-body">
		<p>
			Und nun möchte ich dir noch ein bisschen mehr über meine Rasse, den Perro de Agua Espanõl, erzählen.
		</p>

		<p>
			Generell fällt vielen als erstes unsere niedliches Äußeres auf. Mit unseren Locken sehen wir ein bisschen
			wie ein Teddybär aus. Wir kuscheln auch genauso gerne wie ein Teddy mit unserer Familie, aber, dabei muss
			man trotzdem immer dran denken, dass wir
			vom Ursprung Arbeitshunde sind und entsprechend viel beschäftigt werden möchten.
		</p>

		<p>
			Meine Rasse wurde und wird gerade in Spanien vielseitig eingesetzt, z.B. als Helfer der Fischer,
			Apportierhunde, Rettungshunde oder Drogenspürhunde.</p>
		<p>
			<a href="assets/img/photos/flying_ears.jpg" class="float-right ml-3" data-lightbox="photos"
				data-title="Fliegende Ohren">
				<img src="assets/img/photos/thumbnails/flying_ears.jpg" class="img-thumbnail">
			</a>

		</p>
		Dementsprechend sind wir nicht nur sehr anhängliche, verschmuste, verspielte und treue Familienmitglieder,
		sondern auch gelehrige Begleiter bei vielen Aktivitäten und begeisterte Hundesportler. Ich z.B. gehe sehr gerne
		zum Agility und Mantrailing, aber
		auch jede Art von Beschäftigung an und im Wasser macht mich glücklich. Am wichtigsten ist mir und meiner Rasse,
		einfach dabei zu sein und eine Aufgabe zu haben. Ist das nicht der Fall suche ich mir manchmal selbst eine
		Aufgabe, nicht immer zur Freude
		meiner Familie. Aber das heißt nicht, dass ich Dauerbespaßung brauche, ganz im Gegenteil. Nur ist es so, dass
		mir kurze Spaziergänge, ohne Kopfarbeit, nicht ausreichen.
		</p>

		<p>
			Nach getaner Arbeit entspanne ich mich dann sehr gerne beim Kuscheln oder Schlafen auf dem Schoß eines
			meiner Familienmitglieder oder auf meinem Lieblingsschlafplatz auf der kühlen Treppe.
		</p>
		<a href="assets/img/photos/chill.jpg" class="float-left mr-3" data-lightbox="photos" data-title="Chillen">
			<img src="assets/img/photos/thumbnails/chill.jpg" class="img-thumbnail">
		</a>
		<p>
			Wichtig war es bei mir und genauso auch bei anderen Perros, dass ich von Anfang an konsequent, aber sehr
			liebevoll erzogen wurde. Harte Erziehungsmethoden hätten dem Vertrauensverhältnis zu meiner Familie
			geschadet, deshalb wurde ich von meiner Familie
			und in der Hundeschule mit liebevoller Konsequenz erzogen.
		</p>

		<p>
			Klare Regeln sind für mich sehr wichtig, vor allem während meiner Pubertät, also wie bei jedem jungen Hund.
			Mein Kopf hat in der Zeit manches Gelernte vorübergehend wieder vergessen. Darum habe ich versucht neue
			Grenzen auszutesten und meine Familie
			zu beschützen. Das dies gar nicht von mir verlangt wurde, habe ich aber schnell wieder verstanden.
		</p>
		<p>
			So eng ich mich an meine Familie binde, so zurückhaltend bin ich beim Kontakt zu fremden Menschen. Da
			möchte ich mir selbst aussuchen und Zeit dafür bekommen, wer mir näher kommen darf. Möchte ich den Kontakt
			nicht, ziehe ich mich zurück und wünsche
			mir, dass dies akzeptiert wird. Aber eigentlich mag ich ziemlich viele Menschen gerne, dass hat damit zu
			tun, dass ich schon früh sozialisiert und spielerisch an den Kontakt mit anderen Menschen gewöhnt wurde.
		</p>
		<ul>
			<li>Naaa, sagen dir meine Treue, mein Familiensinn, meine Intelligenz und meine Aktivität zu?</li>
			<li>Bist du selbst aktiv und hast Lust mit deinem neuen Familienmitglied aktiv zu werden?</li>
			<li>Bist du liebevoll, selbstsicher, konsequent, ruhig und souverän?</li>
			<li>Kannst du klare Regeln vorgeben und somit deinem zukünftigen Hund die Sicherheit geben, die er sich
				wünscht?</li>
			<li>Und hast du genug Zeit, um dich ausreichend mit deinem Perro zu beschäftigen?</li>
		</ul>
		Dann könnte einer meiner Welpen, genau der richtige Familienzuwachs für dich sein.

	</div>
</div>