{{!-- begin: welcome --}}
<div class="row" id="welcome">
	<div class="col-12">
		<p>
			Hallo Perro Begeisterte,
		</p>
		<p>
			mein Name ist Ililli Compagne du Cheval (HD-A1; PRA und NAD frei), aber gute Freunde und Familie dürfen mich Lilli nennen. ☺
		</p>
		<p>
			Eigentlich komme ich aus Biebergemünd, dort bin ich am 30.04.2016 als Kind von Anella Compagne du Cheval (HD-A1) und Concurrido macanudo macho (HD-A1) geboren worden.
		</p>
		<p>
			Aber mittlerweile wohne ich mit meiner Familie im schönen Alzenau, am Fuß des Hahnenkamms. Dort wohne ich in einem Haus, mit einem schönen Garten, in dem ich viel toben kann. Direkt hinter meinem Zuhause ist der Fluss Kahl, in dem ich vor allem im Sommer
			gerne spiele und bade.
		</p>

		<p>
			Ich bin mit meinen 39cm Höhe zwar eher zierlich für meine Rasse, aber das mache ich mit Neugier, Lernwillen und vor allem sehr großer Liebe zu meiner Familie wieder wett.
		</p>

		<p>
			Sehr gerne zeige ich meiner Familie wie gerne ich Sie habe, indem ich stundenlang mit ihnen kuschele und mich kraulen lasse. Das genießen wir alle sehr.
		</p>

		<p>
			Grundsätzlich fühle ich mich am wohlsten, wenn ich überall dabei sein darf. Egal ob beim Sport, bei Festen, im Urlaub oder einfach zuhause. Auch lasse ich mich schnell für fast alles begeistern, egal ob Fahren im Radhänger, Agility, Mantrailing, Lernen
			von Tricks, Wandern und Langlaufen mit meiner Familie.....für ein bisschen Käse mache ich fast alles!
		</p>

		<p>
			Seid kurzem gibt es bei mir auch Neuigkeiten, ich habe seit April 2018 die Zuchtzulassung bekommen und wurde nun auch gedeckt. Ein neues Abenteuer beginnt! Als nächstes würde ich mich sehr freuen, wenn wir uns näher kennenlernen und ich dir in Zukunft
			vielleicht sogar einen meiner Welpen anvertrauen kann.

		</p>
		<p>
			Alles Liebe<br /> Lilli
		</p>
	</div>
</div>
{{!-- end: welcome --}}
