<div class="card" id="welcome">
	<div class="card-body">
		<h2 class="handwritten">
			Hallo Perro Begeisterte,
		</h2>
	</br>
		<p>
			mein Name ist Ililli Compagne du Cheval (HD-A1; PRA und NAD frei), aber meine Familie und gute Freunde nennen mich Lilli.
		</p>
		<a href="assets/img/photos/portrait_2.jpg" class="float-right ml-3" data-lightbox="photos" data-title="Lilli">
			<img src="assets/img/photos/thumbnails/portrait_2.jpg" class="img-thumbnail">
		</a>

	<p>
		Ich wohne mit meiner Familie im schönen Alzenau, am Fuße des Hahnenkamms, in einem Haus mit einem Garten, in dem ich viel toben kann. Direkt hinter meinem Zuhause ist der Fluss Kahl, in dem ich vor allem im Sommer
		gerne spiele und bade.
	</p>
		<p>
			Ursprünglich komme ich aus Biebergemünd. Dort wurde ich am 30.04.2016 als Kind von Anella Compagne du Cheval (HD-A1) und Concurrido macanudo macho (HD-A1) geboren.
		</p>

		<p>
			Ich bin mit meinen 39cm Höhe zwar eher zierlich für meine Rasse, aber das mache ich mit Neugier, Lernwillen und vor allem sehr großer Liebe zu meiner Familie wieder wett. Das zeige ich ihnen, indem ich zum Beispiel stundenlang mit ihnen kuschele und mich kraulen lasse. Das genießen wir alle sehr.
		</p>

		<p>
		Grundsätzlich fühle ich mich am wohlsten, wenn ich überall dabei sein darf, ob es beim Joggen, Wandern, Rad fahren oder Langlauf ist, auch bei Festen, oder einfach zuhause. Auch lasse ich mich schnell für Vieles begeistern, Mantrailing mache ich besonders gerne, und beim Erlernen von Tricks bin ich immer sofort dabei, für ein bisschen Käse mache ich fast alles…!
		</p>

		<p>
			Seit kurzem gibt es bei mir Neuigkeiten, ich habe im April 2018 die Zuchtzulassung bekommen. Bald darauf haben wir meinen Freund Jacco besucht und jetzt sind 5 total goldige Hundekinder auf der Welt!
		</p>
		<p>
			Ein neues Abenteuer hat begonnen!
		</p>
		<p>
			Als nächstes würde ich mich sehr freuen, wenn wir uns näher kennenlernen und ich dir in Zukunft vielleicht sogar einen meiner Welpen anvertrauen kann.
		</p>
		<div class="handwritten float-right mr-5">
			<h2>
				Alles Liebe,
		</br>
				Lilli
				</h2>
			</h2>
		</div>
	</div>
</div>
